
.ctnContenido{
    width: 80%;
    height: 100%;
    background-color: white;
    padding: 2rem;
    position: relative;
    overflow-y: auto;

     /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;
}

.ctnContenido::-webkit-scrollbar {
    width: 6px; /* delgada */
}

.ctnContenido::-webkit-scrollbar-track {
    background: transparent; /* sin fondo */
}

.ctnContenido::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
    transition: background-color 0.2s ease;
}

/* hover SOLO en la barra */
.ctnContenido::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary) !important;
}

/* ocultar flechas */
.ctnContenido::-webkit-scrollbar-button {
    display: none;
}
