.ctnDashboard{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    /* ELIMINAR SI NO SIRVE */
    --s: 200px; /* control the size */
    --c1: #1d1d1d;
    /* --c2: #4e4f51; */
    --c2: #971A36;
    --c3: #3c3c3c;

    background: repeating-conic-gradient(
        from 30deg,
        #0000 0 120deg,
        var(--c3) 0 180deg
        )
        calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
    repeating-conic-gradient(
        from 30deg,
        var(--c1) 0 60deg,
        var(--c2) 0 120deg,
        var(--c3) 0 180deg
    );
    background-size: var(--s) calc(var(--s) * 0.577);
}
.dashboard{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 95%;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0 1rem gray;
    /* new */
    width: 100rem;
    height: 55rem;
    max-width: 95%;
    max-height: 95%;
}
.dashboard::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}