.tipoM p{
  text-align: center;
  font-weight: 500;
  border: 1px solid;
  border-radius: 1rem;
  font-size: 0.8rem;
  padding: 2px 8px;
}
.tipoM.salida p{
  background-color: var(--txtRedBg);
  border-color: var(--txtRedBorder); 
  color: var(--txtRed);
}
.tipoM.entrada p{
  background-color: var(--txtGreenBg);
  border-color: var(--txtGreenBorder); 
  color: var(--txtGreen);
}
.tipoM.merma p{
  background-color: var(--txtBlueBg);
  border-color: var(--txtBlueBorder);
  color: var(--txtBlueBorder);
}
.tipoM.sobrante p{
  background-color: var(--txtYellowBg);
  border-color: var(--txtYellowBorder);
  color: var(--txtYellowBorder);
}

.historial{
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1rem;
  width: 100%;
}

.clickable{
  text-decoration: underline;
  cursor: pointer;
}
/* POPUP */
.popup-content .popup-item{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.7rem;
  cursor: auto;
}
.historial  .double__form{
  width: auto;
}
.popup-content .popup-item .input-field input, .popup-content .popup-item .input-field textarea {
  border-color: var(--gray-two);
}

.historial .popup-item .input-field label{
  color: rgb(0,0,0,0.5) !important;
} 