*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "poppins",sans-serif;
  box-sizing: border-box;
}
body{
  background-color: black;
}
#root{
  /* display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: black; */
  width: 80rem;
  height: 50rem;
  max-width: 95%;
  max-height: 95vh;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  position: absolute;
  background-color: white;
  border-radius: 1.2rem;
  overflow: hidden;
  padding: 2rem;
}


.ctnGeneral{
  width: 80rem;
  height: 50rem;
  max-width: 95%;
  max-height: 95vh;
}