
body{
  background-color: black;
}
#root{
  width: 80rem;
  height: 50rem;
  max-width: 95%;
  max-height: 95vh;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  position: absolute;
  background-color: white;
  border-radius: 1.2rem;
  overflow: hidden;
  padding: 2rem;
}

.ctnGeneral{
  width: 100%;
  height: 100%;
  display: flex;
}
