.ctnIndicadores .inicio{
    width: 100%;
    height: 100%;
}
.ctnIndicadores{
    width: 100%;
    display: flex;
    gap: 1rem;
}
.ctnIndicadores .item{
    width: 15rem;
    height: 8rem;
    box-shadow: 0 0 5px #bebebe;
    border-radius: 1rem;

}