.ctnMenu{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    gap: 1rem;
    padding: 2rem;
    background: var(--menu1);
    /* transition: background 5s ease-in-out; */
}
.ctnMenu .logo{
    width: 12rem;
    max-width: 100%;
    height: auto;
}
.ctnMenu nav{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.ctnMenu button{
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    display: flex;
    gap: 0.7rem;
    align-items: center;
    line-height: 1;
    font-weight: 500;
    background: none;
    color: var(--menuTxt);
}
.ctnUsuario{
  display: flex;
  /* flex-direction: column; */
  justify-content: start;
  background-color: white;
  padding: 10px;
  border-radius: 1rem;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.ctnUsuario .iconUser{
  width:  3rem;
  height: 3rem;
  border: 2px solid #dedede;
  border-radius: 100%;
  fill: #dedede;
}
.ctnUsuario .ctnTxt {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.1rem;
}
.ctnUsuario .ctnTxt .name{
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.1;
}
.ctnUsuario .ctnTxt .rol{
  font-size: 0.8rem;
  line-height: 1.1;
}
.ctnMenu button.active{
    background: var(--primary);
    color: #fff;
    font-weight: 700;
}
.ctnMenu button .icon{
    fill: var(--primarySVG);
    min-width: 24px;
    min-height: 24px;
}
.ctnMenu button.active .icon{
    fill: white;
}
.ctnMenu .ctnBotones{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* SOL Y LUNA */

.themeToggle {
  color: var(--primary);
  width: 24px;
}

.st-sunMoonThemeToggleBtn {
  position: relative;
  cursor: pointer;
}

.st-sunMoonThemeToggleBtn .themeToggleInput {
  opacity: 0;
  width: 100%;
  aspect-ratio: 1;
}

.st-sunMoonThemeToggleBtn svg {
  position: absolute;
  left: 0;
  width:  100%;
  height: auto;
  transition: transform 0.4s ease;
  transform: rotate(40deg);
}

.st-sunMoonThemeToggleBtn svg .sunMoon {
  transform-origin: center center;
  transition: inherit;
  transform: scale(1);
}

.st-sunMoonThemeToggleBtn svg .sunRay {
  transform-origin: center center;
  transform: scale(0);
}

.st-sunMoonThemeToggleBtn svg mask > circle {
  transition: transform 0.64s cubic-bezier(0.41, 0.64, 0.32, 1.575);
  transform: translate(0px, 0px);
}

.st-sunMoonThemeToggleBtn svg .sunRay2 {
  animation-delay: 0.05s !important;
}
.st-sunMoonThemeToggleBtn svg .sunRay3 {
  animation-delay: 0.1s !important;
}
.st-sunMoonThemeToggleBtn svg .sunRay4 {
  animation-delay: 0.17s !important;
}
.st-sunMoonThemeToggleBtn svg .sunRay5 {
  animation-delay: 0.25s !important;
}
.st-sunMoonThemeToggleBtn svg .sunRay5 {
  animation-delay: 0.29s !important;
}

.st-sunMoonThemeToggleBtn .themeToggleInput:checked + svg {
  transform: rotate(90deg);
}
.st-sunMoonThemeToggleBtn .themeToggleInput:checked + svg mask > circle {
  transform: translate(16px, -3px);
}
.st-sunMoonThemeToggleBtn .themeToggleInput:checked + svg .sunMoon {
  transform: scale(0.55);
}
.st-sunMoonThemeToggleBtn .themeToggleInput:checked + svg .sunRay {
  animation: showRay1832 0.4s ease 0s 1 forwards;
}

@keyframes showRay1832 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}