.ctnMenu{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    gap: 1rem;
    padding: 2rem;
    background-color: #F8F8FA;
}
.ctnMenu .logo{
    width: 12rem;
    max-width: 100%;
    height: auto;
}
.ctnMenu nav{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.ctnMenu button{
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    display: flex;
    gap: 0.8rem;
    align-items: center;
    line-height: 1;
    font-weight: 500;
    background: none;
}
.ctnMenu button.active{
    background: var(--primary);
    color: white;
    font-weight: 700;
}
.ctnMenu button .icon{
    fill: var(--primary);
    min-width: 24px;
    min-height: 24px;
}
.ctnMenu button.active .icon{
    fill: white;
}
.ctnMenu .ctnBotones{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* SOL Y LUNA */
/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #223243;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.3em;
  bottom: 0.3em;
  background-color: #223243;
  box-shadow: inset 2px -2px 0 1.8px #fff;
  transition: .4s;
  animation: anima1 0.3s linear;
}

@keyframes anima1 {
  0% {
    transform: translateX(1.5em);
  }

  80% {
    transform: translateX(-0.3em);
  }

  100% {
    transform: translateX(0em);
  }
}

.switch input:checked + .slider:before {
  background-color: yellow;
  box-shadow: none;
  transform: translateX(1.5em);
  animation: anima 0.3s linear;
}

@keyframes anima {
  0% {
    transform: translateX(0px)
  }

  80% {
    transform: translateX(1.6em)
  }

  100% {
    transform: translateX(1.4em)
  }
}