form {
  margin-bottom: 20px;
}

.errorTxt {
  color: red;
  font-size: 14px;
}

.usuariosLista {
  margin-top: 20px;
}
.ctnUsuarios{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;
  justify-content: center;
}

.usuarioItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 1rem;
}
.gestionUsuarios .actionsCell{
  /* display: flex;
  justify-content: center; */
  text-align: center;
}
.gestionUsuarios .btnSmall{
  border: none;
  background: none;
}



.estado p{
  text-align: center;
  font-weight: 500;
  border: 1px solid;
  border-radius: 1rem;
  font-size: 0.8rem;
  padding: 2px 8px;
}
