.gestionUsuarios {
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
}

form {
  margin-bottom: 20px;
}

.errorTxt {
  color: red;
  font-size: 14px;
}

.usuariosLista {
  margin-top: 20px;
}
.ctnUsuarios{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;
  justify-content: center;
}

.usuarioItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 1rem;
}
.gestionUsuarios button {
  background-color: #ff0000;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
}
